
/* img_avatar ảnh VuNghiXuan */
#avatar{
    /* vertical-align: left; */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 10px 5px ;
}

#logo{
    /* vertical-align: center; */
    width: 50px;
    height: 20px;
    /* border-radius: 10%; */
    /* padding: 10px 5px 5px 5px;  */
} 

/* head_page_vu */
#str_head{
    background-color: rgb(4, 85, 4);
    text-align: left;
    color: white;
    padding: 10px;
    /* margin: 0; */
}

#con_head{
    display:flex;
    flex-wrap: wrap
    
}

#con_left {
    background-color: rgb(5, 85, 5);
    text-align: right;
    padding: 10px 0px 0px 0px;
    flex: 30%;
    margin: 0;
    }

#con_right {
    background-color: rgb(5, 85, 5);
    
    text-align: left;
    /* padding: 20px; */
    flex: 70%;    
    margin: 0;
    }

nav{
    background-color: rgb(248, 246, 246);
    text-align: center;
    /* padding: 10px 15px; */
    margin: 0;
    
    /* Khống chế các padding con có thông số như(20px 30px) vượt nav mẹ (10px 15px) ở trên */
    overflow: hidden;
}
nav a{
    color: blue; 
    /* Cho khung nền to hơn */
    padding: 5px 15px 0px 15px;   
    
    /* block từng mục trong nav a, sau đó cho từng mục chảy qua trái phải tùy ý. Ứng dụng cho màn hình điện thoại  */
    display: block;
    text-align: center;

    /* bỏ gạch chân  */
    /* text-decoration: none; */

    /* Chảy các nav a qua trái sau khi display: block; */
    float: left;
}

/* Dropdown Button */
.dropbtn {
    background-color: RGB(5, 85, 5);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
  }
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
position: relative;
display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}



/* Hiệu ứng chuột click*/
nav a:hover{
    /* Thay màu nền */
    background-color: white;

    /* bỏ gạch chân  */
    text-decoration: none;

    /* Thay màu chữ */
    color: red;
}
#content_pyLang{
    text-align: justify;
}

/* Thông tin cá nhân */
#header_pyLang{
    color:  goldenrod ;
}

/* Phần nội dung chính */
#con_content{
    background-color:rgb(240, 228, 124);
    display:flex;
    flex-wrap: wrap           
}

#con_left_content {
    background-color: rgb(252, 251, 250);
    text-align: justify;
    /* padding: 10px 0px 0px 0px; */
    flex: 10%;
    margin: 5px;
    /* border-radius: 5%; */
    padding: 10px 5px 5px 0px;
    }
#con_center_content {
    background-color: rgb(252, 251, 250);
    text-align: justify;
    /* padding: 10px 0px 0px 0px; */
    flex: 40%;
    /* margin: 10px; */
    /* border-radius: 2%; */
    padding: 10px 5px 5px 20px;
    }

#con_right_content {
    background-color: rgb(252, 251, 250);
    text-align: justify;
    /* padding: 20px; */
    flex: 40%;
    margin: 0px 0px 0px 5px;
    /* border-radius: 5%; */
    padding: 5px 5px 5px 5px;
    }

/* Sửa lỗi đối với các ảnh ko cùng chiều cao và chữ mô tả quá dài. Cho wrap ngắt dòng các ảnh */
#img_container{
    display: flex;
    flex-wrap: wrap;
}

/* Nguồn ảnh thực tế */
.img_item{
    width: 25%;    
    float: left;
    /* text-align: left; */
}

.img_photo{
    /* height: 400px; */
    width: 90%;    
}



/* Clip */
#con_kho{
    background-color: rgb(246, 235, 214);
    display:flex;
    flex-wrap: wrap           
}

#con_left_kho {
    /* background-color: rgb(246, 235, 214); */
    text-align: justify;
    /* padding: 10px 0px 0px 0px; */
    /* flex: 25%; */
    flex: 25%;
    /* margin: 10px; */
    /* border-radius: 5%; */
    padding: 10px 5px 5px 20px;
    }

#con_right_kho {
    background-color: rgb(254, 254, 254);
    text-align: center;
    /* padding: 20px; */
    flex: 70%;
    margin: 20px 0px 0px 5px;
    /* border-radius: 5%; */
    padding: 5px 5px 5px 5px;
    }

/* Sửa lỗi đối với các ảnh ko cùng chiều cao và chữ mô tả quá dài. Cho wrap ngắt dòng các ảnh */
#clip_container{
    display: flex;
    flex-wrap: wrap;
}

/* Nguồn ảnh thực tế */
.clip_item{
    width: 45%;    
    float: left;
    /* text-align: left; */
}

.clip_photo{
    /* height: 400px; */
    width: 90%;    
}



/* kết thúc clip */

.title_clip{
    font-size: 120%;
    font-weight: bold;
    padding: 0px 10px 20px 0px;
    text-align: center;
}

h3{
    color: blue;
    padding: 0;
    margin: 0;
}
h4{
    color: gold;
    padding: 0;
    margin: 0;
}
h5{
    color: rgb(3, 59, 3);
    
    padding: 0;
    margin: 0;
    
}


footer{
    text-align: right;
}

/* .descrip_img{
    padding: 5px 5px;
} */

/* Cách wrap khi thay đổi màn hình dektop ->ipad */
@media (max-width: 800px) {
    /* *{
        background-color: green;   
    } */
    .flex_container {
        /* Chia theo cột trong container */
        flex-direction: column;        
    }

    
}
/* clip */

@media (max-width: 800px) {
    
    
    .clip_item{
        width: 98%;
    }
    .clip_container {
        /* Chia theo cột trong container */
        flex-direction: column;        
    }
    .clip_item{
        width: 98%;
    }
}


/* Cách wrap khi thay đổi màn hình ipad ->phone */
@media (max-width: 400px) {
    /* *{
        background-color: rgb(128, 0, 6);    
    } */
    .flex_container {
        flex-direction: column;
    }
    .img_item{
        width: 98%;
    }
    
}

